.carousel-bg-img {
  height: 450px;
  width: 100%;
  background-color: $blackTransparant;
} // end .carousel-bg-img
.carousel-inner {
  @media (max-width: 800px) {
    height: 300px;
  } // end @media
  @media (max-width: 600px) {
    height: 200px;
  } // end @media
}
.carousel-item {
  backface-visibility: visible !important;
  @media (max-width: 800px) {
    height: 300px;
  } // end @media

}
.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  h3 {
    font-size: 5rem;
    font-family: $carouselHeadlineText;
    @media (max-width: 1200px) {
      font-size: 3.8rem;
    } // end @media
    @media (max-width: 800px) {
      font-size: 2.8rem;
      padding: 0;
      margin: 5% auto 0;
    } // end @media
    @media (max-width: 600px) {
      font-size: 1.8rem;
      margin-bottom: 2%;
     } // end @media
    
    
  } // end h3

  p {
    font-size: 3rem;
    padding: 3% 0 2%;
    font-family: $carouselText;
    @media (max-width: 1200px) {
      padding-bottom: 10%;
    } // end @media
    @media (max-width: 800px) {
      font-size: 1.6rem;
      @media (max-width: 800px) {
        padding-bottom: 1%;
      } // end @media
    } // end @media
    @media (max-width: 600px) {
      font-size: 1.4rem;
      margin-bottom: 33%;
      margin-top: 0;
      padding-top: 1%;
    } // end @media
    
  } // end p
}
.carousel-indicators {
  @media (max-width: 600px) {
      margin-bottom: 0;
  } // end @media
}
.carousel-caption.d-none, .d-md-block{
  display: flex!important;
  padding: 0;
}