.header {
  @include flexDisplay(space-between, center, row);
  margin: 15% auto 10%;
  width: 80%;

  .text-wrapper {
    @include textWrapper;
  } // end .text-wrapper

  button.start-btn {
    @include button;
    @media (max-width: 800px) {
      margin-top: 35%;
    } // end @media
  } // end button.start
}
