.nav-wrapper {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $blackTransparant;
  @media (max-width: 800px) {
    height: 100px;
  } // end media
  @media (max-width: 500px) {
    height: 70px;
  } // end media

  .navigation {
    width: 90%;
    margin: 0 auto;
    @include flexDisplay(space-between, center, row);
    @media (max-width: 800px) {
      flex-direction: column;
    } // end media

    @include logo;

    nav {
      @include flexDisplay(flex-end, center, row);
      white-space: nowrap;
      @media (max-width: 800px) {
        display: block;
      } // end media
      @media (max-width: 500px) {
        font-size: 1.2rem;
      } // end media

      a {
        font-size: 1.6rem;
        padding: 2%;
        color: white;
        @media (max-width: 500px) {
          font-size: 1.4rem;
        } // end media
      } // end a

      .login-sign-up {
        color: $orange;
      } // end .login-sign-up

      span {
        font-size: 1.7rem;
        padding: 3%;
        color: white;
      } // end span
    } // end nav
  } // end .navigation
}
