// color scheme
$green: #1DB954;
$orange: #F8C544;
$blackTransparant: rgba($color: #000000, $alpha: 0.4);

// fonts
$buttonText: 'Mitr', sans-serif;
$logoFont: 'Paytone One', sans-serif;
$carouselHeadlineText: 'Actor', sans-serif;
$carouselText: 'Pontano Sans', sans-serif;
$smallHeadline: 'Source Sans Pro', sans-serif;
$Sarala: 'Sarala', sans-serif;
$Cambay: 'Cambay', sans-serif;

// media

$break-phone: 500px;
$break-tablet: 768px;
$break-widescreen: 1024;